/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#container{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:  rgb(213, 110, 100);
}
.wrapper{
  max-width: 500px;
  background: #fff;
  padding: 20px 25px 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

form{
  margin: 20px 0 27px;
}

form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
form input:valid ~ button{
  opacity: 1;
  pointer-events: auto;
}
